* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-family: Ubuntu;
  color: white;
  padding: 12px 24px;
  transition: all 0.4s ease;
  background-color: #ffffff00;
}

.header.scrolled {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.884);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}
.hamburger-menu .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
}

.hamburger-menu .bar.active:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger-menu .bar.active:nth-child(2) {
  opacity: 0;
}
.hamburger-menu .bar.active:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: Ubuntu;
}

.left-section img {
  width: 4rem;
}
.left-section h2 {
  margin-left: -2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  transition: 0.5s ease-in-out;
  align-items: center;
  flex-direction: column;
}

nav a:hover {
  width: fit-content;
  color: #ffd43b;
  scale: 1.2;
  transition: 0.2s ease-in-out;
}

.products-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  align-items: left;
  background-color: #003366;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 198px;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  padding: 10px 0;
}

.products-dropdown a {
  display: block;
  padding: 10px 20px;
  color: white;
  padding-left: 20px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.products-dropdown a:hover {
  color: #ffd43b;
}

.products-menu-item {
  position: relative;
  display: inline-block;
}

nav ul li .button {
  margin: 0 auto;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(/public/images/old-church2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.black-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.495);
}

.home-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  color: White;
  h1 {
    font-size: 4rem;
  }

  img {
    width: 8rem;
    aspect-ratio: 4/4;
  }
}

.autoShow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 10% cover 100vh;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.autoSlide {
  animation: text-slide both;
  animation-timeline: view();
  animation-range: entry 10% cover 90vh;
}

@keyframes text-slide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.black-cover .home-details {
  font-family: Raleway;
  color: White;
  h1 {
    font-size: 4rem;
  }

  img {
    width: 8rem;
    aspect-ratio: 4/4;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.welcome,
.history,
.vision,
.statement,
.core-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: fit-content;
  padding: 3rem;
  background-color: #ffffff;
}

.welcome-details,
.history-details,
.vision-details,
.statement-details,
.core-details {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-family: Raleway;
  color: rgb(18, 60, 175);
  h1 {
    font-size: 4rem;
  }

  img {
    width: 8rem;
    aspect-ratio: 4/4;
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  img {
    width: 4rem;
  }
}

.vis-mis-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.intro {
  font: 100;
  font-family: Ubuntu;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  border-radius: 1rem;
  background-color: rgb(18, 60, 175);
  color: #ffffff;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.divider {
  width: 1px;

  height: 120px;
  background-color: blue;
}

.service-block {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  gap: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(18, 60, 175);
}

.service-periods {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: left;

  padding: 2rem;
}

.know-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: Ubuntu;
  gap: 1rem;

  .button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0.5em 1rem;
    border-radius: 1rem;
    background-color: rgb(18, 60, 175);

    &:hover {
      scale: 0.9;
      transition: all 0.3s ease;
    }
  }
}

.sort {
  max-width: 768px;
  text-align: center;
  margin-top: 1rem;
}

.service-block-2 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(18, 60, 175);
}

.clash {
  max-width: 200px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.video-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  aspect-ratio: 14/7;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(18, 60, 175);

  img {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 16/9;
  }
  .video-title {
    max-width: 400px;
  }

  a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: Ubuntu;
    gap: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(18, 60, 175);
    border-radius: 1rem;
  }
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  width: 100%;
  height: auto;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(0, 0, 0);

  .circle {
    width: 3rem;
    height: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(18, 60, 175);
  }
}
.about-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(/public/images/church-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.about-gap {
  margin-top: 2rem;
}
.block-2 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(18, 60, 175);
}

.period-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: left;

  padding: 1rem;
}

.det {
  /* max-width: 768px; */
  padding: 2rem;
  text-align: center;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 2rem;
  width: 100%;
  aspect-ratio: 5/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: fit-content;
  margin-top: 2rem;

  h3 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

li {
  list-style: dot;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  .par1 {
    font-weight: bold;
  }
}
ol {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
}

@media (max-width: 900px) {
  nav ul {
    position: fixed;
    top: 4.5rem; /* below header */
    right: -100%; /* hidden off-screen */
    height: 100vh;
    padding: 0%;
    margin: 0%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: 1px solid #003366;
    align-items: center;
    justify-content: top;
    gap: 2rem;
    overflow-y: scroll;
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }
  nav ul .button {
    background-color: #003366;
    color: #ffd43b;
    margin-top: 1rem;
    transition: 0.5s ease-in-out;
    width: 60%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }

  nav ul .button:hover {
    color: #003366;
    background-color: #eede00;
    scale: 1;
  }

  nav ul.active {
    right: 0; /* slide in */
  }

  .hamburger-menu {
    display: flex; /* show at 900px and below */
  }
}
